.closed{
    display: none;
}

.sidebar{
    max-width: 150px;
    min-width: 0;
    transition: max-width 0.2s ease,min-width 0.2s ease;
}
.sidebar.open{
    min-width: 350px;
    max-width: 500px;
    transition: max-width 0.2s ease,min-width 0.2s ease;
}
