.closed{
    display: none;
}
.totals{
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
}

.values{
    justify-self: right;
}

.added-item{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr ;
}
